:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;

    --primary-border-color: #28292E;
    --secondary-border-color: #56575A;
    
    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
    --primary-color: #0B0B0F;

    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #C7C8C9;

    --primary-border-color: #C7C8C9;
    --secondary-border-color: #C7C8C9;

    --title-color: #0B0B0F;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #56575A;
}

html[data-theme='light'] .brand__nome {
    filter: invert(1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background-color: var(--primary-bg-color);
    font-family: "Imbue", serif;
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

h1, h2, p {
    font-family: "Imbue", serif;
    text-transform: uppercase;
    color: var(--title-color);   
}

h2 {
    font-weight: 200;
    text-transform: none;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    text-align: justify;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__nome {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Imbue", serif;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .6s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem; 
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

.menu--social {
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1rem;
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

.btn--primary span {
    color: var(--primary-color);
    padding: 0.875rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/*** Estilização do video***/
/*
.main__content2 iframe {
    widht: 100%;
    aspect-ratio: 16/9;
}
*/    

.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 1rem 3rem 1rem;
    background: var(--secondary-bg-color);
    margin-top: -2rem;
    gap: 1.25rem;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .5rem;
}

.skills__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50rem;
}

.skills__logo {
    height: 3.4rem;
    border-radius: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 5rem;
}

footer, .footer, a {
    font-size: 1rem;
    color: var(--title-color);
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }

    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    .main__content1 {
        display: flex;
        padding: 13.75rem 6rem 6.25rem 6rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}    

